Repository Azure/cosmos-explorer, pull requests merged in 2021-10, with the labels that each got.

#1117 Fix Unit Test: Mock the class to its instance
  jest.config.js
  src/Utils/GalleryUtils.test.ts
Labels: automerge

#1120 Fix new database panel open issue related a11y
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
Labels: Accessibility, Ready to review

#1126 fixed eslint of Trigger.ts GithubOAuthService.ts etc
  .eslintignore
  .eslintrc.js
  src/Explorer/Tree/Trigger.ts
  src/GitHub/GitHubOAuthService.ts
  src/Juno/JunoClient.test.ts
  src/Juno/JunoClient.ts
Labels: lint, Ready to review

#1127 Fix ESLint issues 5: For ClauseGroup and ClauseGroupViewModel files
  .eslintignore
  src/Explorer/Tables/QueryBuilder/ClauseGroup.ts
  src/Explorer/Tables/QueryBuilder/ClauseGroupViewModel.ts
Labels: lint, Ready to review

#1132 Fix ESLint issues 6: For TableCommands and other files
  .eslintignore
  src/Explorer/Tables/DataTable/DataTableOperations.ts
  src/Explorer/Tables/DataTable/TableCommands.ts
  src/Explorer/Tables/DataTable/TableEntityCache.ts
  src/Explorer/Tables/Entities.ts
Labels: lint, Ready to review

#921 resolve_eslint_NodePropertiesComponent
  .eslintignore
  src/Explorer/Graph/GraphExplorerComponent/LeftPaneComponent.tsx
  src/Explorer/Graph/GraphExplorerComponent/NodePropertiesComponent.test.tsx
  src/Explorer/Graph/GraphExplorerComponent/NodePropertiesComponent.tsx
  src/Explorer/OpenFullScreen.tsx
  src/Explorer/Tabs/NotebookV2Tab.ts
Labels: lint, Ready to review
