Repository Azure/cosmos-explorer, pull requests merged in 2021-05, with the labels that each got.

#746 Disable HTML in markdown cell for NotebookReadOnlyRenderer
  src/Explorer/Notebook/NotebookRenderer/NotebookReadOnlyRenderer.tsx
Labels: automerge

#745 Create End to End Graph Test
  .github/workflows/ci.yml
  package.json
  test/graph/container.spec.ts
Labels: e2e

#680 Remove Explorer.defaultExperience
  src/Common/Constants.ts
  src/Common/CosmosClient.test.ts
  src/Contracts/DataModels.ts
  src/Explorer/Controls/Notebook/NotebookTerminalComponent.test.tsx
  src/Explorer/Controls/Settings/SettingsSubComponents/ScaleComponent.test.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/DataSamples/ContainerSampleGenerator.test.ts
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/AddCollectionPane.test.ts
  src/Explorer/Panes/AddDatabasePane.test.ts
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/DocumentsTab.test.ts
  src/Explorer/Tabs/NotebookTabBase.ts
  src/Explorer/Tabs/TabsManager.test.ts
  src/Explorer/Tree/Database.test.ts
  src/GitHub/GitHubOAuthService.test.ts
  src/Juno/JunoClient.test.ts
  src/Platform/Emulator/emulatorAccount.tsx
  src/Platform/Hosted/Authorization.ts
  src/Platform/Hosted/HostedUtils.ts
  src/Shared/DefaultExperienceUtility.test.ts
  src/Shared/DefaultExperienceUtility.ts
  src/UserContext.ts
  src/hooks/useKnockoutExplorer.ts
Labels: deprecated

#749 Remove NotebookViewerTab
  src/Explorer/Explorer.tsx
  src/Explorer/Tabs/NotebookViewerTab.tsx
Labels: automerge

#679 remove genericRightPaneComponent and create RightPaneWrapper with form
  package-lock.json
  src/Explorer/Panes/GenericRightPaneComponent/GenericRightPaneComponent.tsx
  src/Explorer/Panes/PanelFooterComponent.tsx
  src/Explorer/Panes/PanelInfoErrorComponent.tsx
  src/Explorer/Panes/RightPaneForm/RightPaneForm.test.tsx
  src/Explorer/Panes/RightPaneForm/RightPaneForm.tsx
  src/Explorer/Panes/RightPaneForm/__snapshots__/RightPaneForm.test.tsx.snap
  src/Explorer/Panes/UploadFilePane/UploadFilePane.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  test/notebooks/upload.spec.ts
Labels: Panel

#597 Move add database panel to react
  .eslintignore
  less/documentDB.less
  package-lock.json
  src/Common/Tooltip/InfoTooltip.tsx
  src/Common/Tooltip/Tooltip.tsx
  src/Common/Upload/Upload.tsx
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/ThroughputInput/CostEstimateText/CostEstimateText.test.tsx
  src/Explorer/Controls/ThroughputInput/CostEstimateText/CostEstimateText.tsx
  src/Explorer/Controls/ThroughputInput/CostEstimateText/__snapshots__/CostEstimateText.test.tsx.snap
  src/Explorer/Controls/ThroughputInput/ThroughputInput.test.tsx
  src/Explorer/Controls/ThroughputInput/ThroughputInput.tsx
  src/Explorer/Controls/ThroughputInput/__snapshots__/ThroughputInput.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/AddCollectionPanel.tsx
  src/Explorer/Panes/AddDatabasePane.html
  src/Explorer/Panes/AddDatabasePanel/AddDatabasePanel.test.tsx
  src/Explorer/Panes/AddDatabasePanel/AddDatabasePanel.tsx
  src/Explorer/Panes/AddDatabasePanel/__snapshots__/AddDatabasePanel.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/PanelFooterComponent.tsx
  src/Explorer/Panes/PanelInfoErrorComponent.tsx
  src/Explorer/Panes/RightPaneForm/RightPaneForm.test.tsx
  src/Explorer/Panes/RightPaneForm/RightPaneForm.tsx
  src/Explorer/Panes/RightPaneForm/__snapshots__/RightPaneForm.test.tsx.snap
  src/Explorer/Panes/SettingsPane/SettingsPane.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/UploadFilePane/UploadFilePane.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Main.tsx
  src/Utils/APITypeUtils.ts
  test/mongo/container.spec.ts
Labels: Panel

#715 Use card to document card
  package-lock.json
  package.json
  src/Explorer/Controls/Directory/__snapshots__/DirectoryListComponent.test.tsx.snap
  src/Explorer/Controls/NotebookGallery/Cards/GalleryCardComponent.tsx
  src/Explorer/Controls/NotebookGallery/Cards/__snapshots__/GalleryCardComponent.test.tsx.snap
  src/Explorer/Controls/NotebookGallery/GalleryViewerComponent.tsx
  src/Explorer/Controls/Settings/SettingsSubComponents/ThroughputInputComponents/__snapshots__/ThroughputInputAutoPilotV3Component.test.tsx.snap
  src/Explorer/Panes/DeleteCollectionConfirmationPane/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Explorer/Panes/ExecuteSprocParamsPane/__snapshots__/ExecuteSprocParamsPane.test.tsx.snap
  src/Explorer/Panes/RightPaneForm/__snapshots__/RightPaneForm.test.tsx.snap
  src/Explorer/Panes/SetupNotebooksPanel/__snapshots__/SetupNotebooksPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/Tables/TableQuerySelectPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/Tables/__snapshots__/AddTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/Tables/__snapshots__/EditTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
Labels: dependencies

#762 Fix bug publish screenshot
  less/Common/Constants.less
  package-lock.json
  package.json
  src/CellOutputViewer/CellOutputViewer.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Notebook/NotebookComponent/NotebookComponentAdapter.tsx
  src/Explorer/Notebook/NotebookComponent/NotebookComponentBootstrapper.tsx
  src/Explorer/Notebook/NotebookComponent/actions.ts
  src/Explorer/Notebook/NotebookComponent/reducers.ts
  src/Explorer/Notebook/NotebookComponent/types.ts
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Notebook/NotebookRenderer/NotebookRenderer.tsx
  src/Explorer/Notebook/NotebookRenderer/Toolbar.tsx
  src/Explorer/Notebook/NotebookRenderer/outputs/SandboxOutputs.tsx
  src/Explorer/Notebook/NotebookUtil.test.ts
  src/Explorer/Notebook/NotebookUtil.ts
  src/Explorer/Panes/PanelContainerComponent.test.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPane.test.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPane.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPaneComponent.tsx
  src/Explorer/Panes/PublishNotebookPane/__snapshots__/PublishNotebookPane.test.tsx.snap
  src/Explorer/Tabs/NotebookV2Tab.ts
  src/hooks/useNotebookSnapshotStore.ts
  src/hooks/useSidePanel.ts
Labels: automerge, bug fix

#777 fixed typescript errors of InfoToolTip, Dialog, GallaryHeaderComponent
  src/Common/Tooltip/InfoTooltip.tsx
  src/Explorer/Controls/Dialog.tsx
  src/Explorer/Controls/Header/GalleryHeaderComponent.tsx
  src/Explorer/Notebook/NotebookRenderer/Prompt.tsx
  src/Explorer/Notebook/NotebookRenderer/decorators/CellLabeler.tsx
  src/hooks/useGraphPhoto.tsx
  tsconfig.strict.json
Labels: typescript/strict

#776 fixed typescript strict RightPanelForm
  src/Explorer/Panes/PanelInfoErrorComponent.tsx
  tsconfig.strict.json
Labels: typescript/strict

#733 Migration/left panel to react
  less/documentDB.less
  less/tree.less
  src/Common/CollapsedResourceTree.tsx
  src/Common/ResourceTree.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Main.tsx
Labels: Panel

#619 Move graph style panel to react
  .eslintignore
  src/Contracts/ViewModels.ts
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Graph/GraphExplorerComponent/D3ForceGraph.test.ts
  src/Explorer/Graph/GraphExplorerComponent/D3ForceGraph.ts
  src/Explorer/Graph/GraphExplorerComponent/GraphExplorer.test.tsx
  src/Explorer/Graph/GraphExplorerComponent/GraphExplorer.tsx
  src/Explorer/Graph/GraphExplorerComponent/GraphExplorerAdapter.tsx
  src/Explorer/Graph/GraphStyleComponent/GraphStyle.test.ts
  src/Explorer/Graph/GraphStyleComponent/GraphStyleComponent.test.tsx
  src/Explorer/Graph/GraphStyleComponent/GraphStyleComponent.ts
  src/Explorer/Graph/GraphStyleComponent/GraphStyleComponent.tsx
  src/Explorer/Graph/GraphStyleComponent/__snapshots__/GraphStyleComponent.test.tsx.snap
  src/Explorer/Graph/GraphStyleComponent/graph-style-component.html
  src/Explorer/OpenActions.test.ts
  src/Explorer/OpenActions.ts
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/GraphStylingPane.html
  src/Explorer/Panes/GraphStylingPane.ts
  src/Explorer/Panes/GraphStylingPanel/GraphStylingPanel.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/GraphTab.tsx
  src/Main.tsx
Labels: Panel

#784 Remove Old Add Database Pane Code
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentAdapter.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.test.ts
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/AddDatabasePane.html
  src/Explorer/Panes/AddDatabasePane.test.ts
  src/Explorer/Panes/AddDatabasePane.ts
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Main.tsx
Labels: Panel

#723 Move cassandra add collection to react
  .eslintignore
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/OpenActions.test.ts
  src/Explorer/OpenActions.ts
  src/Explorer/Panes/CassandraAddCollectionPane.html
  src/Explorer/Panes/CassandraAddCollectionPane.ts
  src/Explorer/Panes/CassandraAddCollectionPane/CassandraAddCollectionPane.test.tsx
  src/Explorer/Panes/CassandraAddCollectionPane/CassandraAddCollectionPane.tsx
  src/Explorer/Panes/CassandraAddCollectionPane/__snapshots__/CassandraAddCollectionPane.test.tsx.snap
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Main.tsx
  test/cassandra/container.spec.ts
  tsconfig.strict.json
Labels: Panel

#804 fixed typescript strict of accordianComponent.tsx and schemaAnalyser
  src/Explorer/Controls/Accordion/AccordionComponent.tsx
  src/Explorer/Notebook/SchemaAnalyzer/SchemaAnalyzerHeader.tsx
  tsconfig.strict.json
Labels: typescript/strict

#775 fixed ts strict error of EntityValue.tsx
  src/Common/EntityValue.tsx
  src/hooks/useConfig.ts
  tsconfig.strict.json
Labels: typescript/strict

#803 fixed typescript strict DirectoryListComponent.tsx hiJack-scroll/inde…
  src/Explorer/Notebook/NotebookRenderer/decorators/hijack-scroll/index.tsx
  src/Explorer/Notebook/NotebookRenderer/decorators/kbd-shortcuts/index.tsx
  tsconfig.strict.json
Labels: typescript/strict

#815 Migration/left panel to react
  less/documentDB.less
  less/tree.less
  src/Common/CollapsedResourceTree.tsx
  src/Common/ResourceTree.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Main.tsx
Labels: Panel

#829 Disable caching for cellOutputViewer.html
  web.config
Labels: automerge

#840 Remove Explorer.collectionCreationDefaults
  src/Contracts/ViewModels.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/CassandraAddCollectionPane/CassandraAddCollectionPane.tsx
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Shared/AddCollectionUtility.ts
  src/UserContext.ts
  src/hooks/useKnockoutExplorer.ts
Labels: deprecated

#799 Use Zustand for side panel state
  .eslintignore
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Menus/NotificationConsole/NotificationConsoleComponent.tsx
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Panes/AddCollectionPanel.tsx
  src/Explorer/Panes/AddDatabasePanel/AddDatabasePanel.tsx
  src/Explorer/Panes/AddDatabasePanel/__snapshots__/AddDatabasePanel.test.tsx.snap
  src/Explorer/Panes/BrowseQueriesPane/BrowseQueriesPane.tsx
  src/Explorer/Panes/CassandraAddCollectionPane/CassandraAddCollectionPane.tsx
  src/Explorer/Panes/CassandraAddCollectionPane/__snapshots__/CassandraAddCollectionPane.test.tsx.snap
  src/Explorer/Panes/ContextualPaneBase.ts
  src/Explorer/Panes/CopyNotebookPane/CopyNotebookPane.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane/DeleteCollectionConfirmationPane.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Explorer/Panes/DeleteDatabaseConfirmationPanel.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane/ExecuteSprocParamsPane.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane/__snapshots__/ExecuteSprocParamsPane.test.tsx.snap
  src/Explorer/Panes/GitHubReposPanel/GitHubReposPanel.tsx
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/GraphStylingPanel/GraphStylingPanel.tsx
  src/Explorer/Panes/LoadQueryPane/LoadQueryPane.tsx
  src/Explorer/Panes/LoadQueryPane/__snapshots__/LoadQueryPane.test.tsx.snap
  src/Explorer/Panes/NewVertexPanel/NewVertexPanel.test.tsx
  src/Explorer/Panes/NewVertexPanel/NewVertexPanel.tsx
  src/Explorer/Panes/NewVertexPanel/__snapshots__/NewVertexPanel.test.tsx.snap
  src/Explorer/Panes/PanelContainerComponent.test.tsx
  src/Explorer/Panes/PanelContainerComponent.tsx
  src/Explorer/Panes/PanelInfoErrorComponent.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPane.tsx
  src/Explorer/Panes/RightPaneForm/RightPaneForm.tsx
  src/Explorer/Panes/SaveQueryPane/SaveQueryPane.tsx
  src/Explorer/Panes/SaveQueryPane/__snapshots__/SaveQueryPane.test.tsx.snap
  src/Explorer/Panes/SettingsPane/SettingsPane.test.tsx
  src/Explorer/Panes/SettingsPane/SettingsPane.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/SetupNotebooksPanel/SetupNotebooksPanel.tsx
  src/Explorer/Panes/StringInputPane/StringInputPane.tsx
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/Tables/AddTableEntityPanel.test.tsx
  src/Explorer/Panes/Tables/AddTableEntityPanel.tsx
  src/Explorer/Panes/Tables/EditTableEntityPanel.test.tsx
  src/Explorer/Panes/Tables/EditTableEntityPanel.tsx
  src/Explorer/Panes/Tables/TableQuerySelectPanel/TableQuerySelectPanel.tsx
  src/Explorer/Panes/Tables/TableQuerySelectPanel/__snapshots__/TableQuerySelectPanel.test.tsx.snap
  src/Explorer/Panes/Tables/__snapshots__/AddTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/Tables/__snapshots__/EditTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/UploadFilePane/UploadFilePane.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.test.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/GraphTab.tsx
  src/Explorer/Tabs/QueryTab.ts
  src/Explorer/Tabs/StoredProcedureTab.ts
  src/Explorer/Tabs/TabsBase.ts
  src/Main.tsx
  src/hooks/useNotificationConsole.ts
  src/hooks/useSidePanel.ts
Labels: Panel
