Repository Azure/cosmos-explorer, pull requests merged in 2021-04, with the labels that each got.

#581 Migrate Notebook Upload File to React
  .eslintignore
  failed-Collection Add and Delete Cassandra spec creates a collection.jpg
  failed-Collection Add and Delete SQL spec creates a collection.jpg
  package-lock.json
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadFilePane.html
  src/Explorer/Panes/UploadFilePane.ts
  src/Explorer/Panes/UploadFilePane/index.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tree/ResourceTreeAdapter.tsx
  src/Main.tsx
Labels: Panel, lint

#481 Fix lint file system util
  .eslintignore
  src/Explorer/Controls/NotebookGallery/Cards/GalleryCardComponent.tsx
  src/Explorer/Controls/NotebookViewer/NotebookMetadataComponent.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Notebook/FileSystemUtil.ts
  src/Explorer/Notebook/NotebookComponent/epics.ts
  src/Explorer/Notebook/NotebookContentClient.ts
  src/Explorer/Panes/PublishNotebookPaneAdapter.tsx
  src/Explorer/Panes/PublishNotebookPaneComponent.tsx
  src/NotebookViewer/NotebookViewer.tsx
Labels: lint

#578 Migration/save query pane to react
  .eslintignore
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SaveQueryPane.html
  src/Explorer/Panes/SaveQueryPane.ts
  src/Explorer/Panes/SaveQueryPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/SaveQueryPanel/index.test.tsx
  src/Explorer/Panes/SaveQueryPanel/index.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/QueryTab.ts
  src/Main.tsx
Labels: Panel, lint

#579 Migration/load query pane to react
  .eslintignore
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/LoadQueryPane.html
  src/Explorer/Panes/LoadQueryPane.ts
  src/Explorer/Panes/LoadQueryPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/LoadQueryPanel/index.test.tsx
  src/Explorer/Panes/LoadQueryPanel/index.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/PanelComponent.less
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/QueryTab.ts
  src/Main.tsx
Labels: Panel, lint

#600 TypeScript 4.2
  package-lock.json
  package.json
Labels: automerge, dependencies

#598 Migration/browse queries pane to react
  package-lock.json
  package.json
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Directory/__snapshots__/DirectoryListComponent.test.tsx.snap
  src/Explorer/Controls/QueriesGridReactComponent/QueriesGridComponent.tsx
  src/Explorer/Controls/QueriesGridReactComponent/QueriesGridComponentAdapter.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/BrowseQueriesPane.html
  src/Explorer/Panes/BrowseQueriesPane.ts
  src/Explorer/Panes/BrowseQueriesPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/BrowseQueriesPanel/index.test.tsx
  src/Explorer/Panes/BrowseQueriesPanel/index.tsx
  src/Explorer/Panes/ExecuteSprocParamsPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Explorer/Tabs/QueryTab.ts
  src/Main.tsx
Labels: Panel

#620 Remove unused table-column-options-panel
  .eslintignore
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/Tables/TableColumnOptionsPane.html
  src/Explorer/Panes/Tables/TableColumnOptionsPane.ts
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tables/DataTable/TableCommands.ts
  src/Main.tsx
Labels: Panel, lint

#621 Move tabs state out into React
  src/Explorer/Explorer.tsx
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Main.tsx
  src/hooks/useObservableState.ts
  src/hooks/useTabs.ts
Labels: automerge

#615 Migration/table query select pane to react
  .eslintignore
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/PanelComponent.less
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/Tables/QuerySelectPane.ts
  src/Explorer/Panes/Tables/TableQuerySelectPane.html
  src/Explorer/Panes/Tables/TableQuerySelectPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/Tables/TableQuerySelectPanel/index.test.tsx
  src/Explorer/Panes/Tables/TableQuerySelectPanel/index.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tables/QueryBuilder/QueryViewModel.ts
  src/Main.tsx
Labels: Panel, lint

#626 resolve eslint warning
  src/Explorer/Graph/GraphExplorerComponent/GraphUtil.ts
Labels: lint

#527 Resolve Lint errors in NotificationConsoleComponent.ts
  .eslintignore
  src/Explorer/Menus/NotificationConsole/NotificationConsoleComponent.test.tsx
  src/Explorer/Menus/NotificationConsole/NotificationConsoleComponent.tsx
Labels: lint

#658 Fix Markdown HTML issue
  package-lock.json
  package.json
  src/Explorer/Notebook/NotebookRenderer/NotebookRenderer.tsx
  src/Explorer/Notebook/NotebookRenderer/markdown-cell.tsx
Labels: automerge

#628 Move delete collection confirmation panel to react
  .eslintignore
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane.html
  src/Explorer/Panes/DeleteCollectionConfirmationPane.ts
  src/Explorer/Panes/DeleteCollectionConfirmationPanel.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/DeleteCollectionConfirmationPanel/index.test.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPanel/index.tsx
  src/Explorer/Panes/GenericRightPaneComponent.tsx
  src/Explorer/Panes/GenericRightPaneComponent/index.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Main.tsx
  src/Utils/PricingUtils.ts
  test/sql/container.spec.ts
  test/tables/container.spec.ts
Labels: Panel

#674 Fix Markdown Editor not displaying when double-clicking on Markdown cell
  package-lock.json
  src/Explorer/Notebook/NotebookRenderer/markdown-cell.tsx
Labels: bug fix

#675 Hide favorite button from Standalone gallery
  src/Explorer/Controls/NotebookGallery/GalleryViewerComponent.tsx
Labels: automerge

#683 Keep active tab state in one place (manager)
  src/Contracts/ViewModels.ts
  src/Explorer/Controls/Settings/SettingsComponent.test.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentAdapter.tsx
  src/Explorer/Tabs/DocumentsTab.test.ts
  src/Explorer/Tabs/NotebookV2Tab.ts
  src/Explorer/Tabs/QueryTab.test.ts
  src/Explorer/Tabs/TabsBase.ts
  src/Explorer/Tabs/TabsManager.html
  src/Explorer/Tabs/TabsManager.test.ts
  src/Explorer/Tabs/TabsManager.ts
  src/Explorer/Tree/Collection.ts
  src/Explorer/Tree/Database.ts
  src/Explorer/Tree/ResourceTokenCollection.ts
  src/Explorer/Tree/StoredProcedure.ts
  src/Explorer/Tree/Trigger.ts
  src/Explorer/Tree/UserDefinedFunction.ts
Labels: automerge

#500 Move TabsManager to React
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Tabs/Tabs.tsx
  src/Explorer/Tabs/TabsBase.ts
  src/Explorer/Tabs/TabsManager.html
  src/Main.tsx
  src/hooks/useObservable.ts
  src/hooks/useObservableState.ts
  src/hooks/useTabs.ts
Labels: automerge

#642 migration/add-table-entity-pane-to-react
  .eslintignore
  src/Common/EntityValue.tsx
  src/Common/TableEntity.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PanelComponent.less
  src/Explorer/Panes/PanelContainerComponent.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/Tables/AddTableEntityPane.ts
  src/Explorer/Panes/Tables/AddTableEntityPanel.test.tsx
  src/Explorer/Panes/Tables/AddTableEntityPanel.tsx
  src/Explorer/Panes/Tables/Validators/EntityTableHelper.tsx
  src/Explorer/Panes/Tables/__snapshots__/AddTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/QueryTablesTab.ts
  src/Main.tsx
Labels: Panel

#689 Rename index.tsx to {class name}.tsx
  src/Common/Tooltip/Tooltip.tsx
  src/Common/Upload/Upload.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/BrowseQueriesPane/BrowseQueriesPane.test.tsx
  src/Explorer/Panes/BrowseQueriesPane/BrowseQueriesPane.tsx
  src/Explorer/Panes/BrowseQueriesPane/__snapshots__/BrowseQueriesPane.test.tsx.snap
  src/Explorer/Panes/CopyNotebookPane.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane/DeleteCollectionConfirmationPane.test.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane/DeleteCollectionConfirmationPane.tsx
  src/Explorer/Panes/DeleteCollectionConfirmationPane/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Explorer/Panes/ExecuteSprocParamsPane/ExecuteSprocParamsPane.test.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane/ExecuteSprocParamsPane.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane/InputParameter.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane/__snapshots__/ExecuteSprocParamsPane.test.tsx.snap
  src/Explorer/Panes/GenericRightPaneComponent/GenericRightPaneComponent.tsx
  src/Explorer/Panes/LoadQueryPane/LoadQueryPane.test.tsx
  src/Explorer/Panes/LoadQueryPane/LoadQueryPane.tsx
  src/Explorer/Panes/LoadQueryPane/__snapshots__/LoadQueryPane.test.tsx.snap
  src/Explorer/Panes/PublishNotebookPaneAdapter.tsx
  src/Explorer/Panes/SaveQueryPane/SaveQueryPane.test.tsx
  src/Explorer/Panes/SaveQueryPane/SaveQueryPane.tsx
  src/Explorer/Panes/SaveQueryPane/__snapshots__/SaveQueryPane.test.tsx.snap
  src/Explorer/Panes/SettingsPane/SettingsPane.test.tsx
  src/Explorer/Panes/SettingsPane/SettingsPane.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/Tables/TableQuerySelectPanel/index.tsx
  src/Explorer/Panes/UploadFilePane/UploadFilePane.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.test.tsx
  src/Explorer/Panes/UploadItemsPane/UploadItemsPane.tsx
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
Labels: Panel

#640 Copy notebook pane
  src/Explorer/Controls/Dialog.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Panes/CopyNotebookPane.tsx
  src/Explorer/Panes/CopyNotebookPane/CopyNotebookPane.tsx
  src/Explorer/Panes/CopyNotebookPane/CopyNotebookPaneComponent.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Main.tsx
Labels: Panel

#702 Migrate new graph vertex panel to react
  .eslintignore
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Graph/NewVertexComponent/NewVertex.test.ts
  src/Explorer/Graph/NewVertexComponent/NewVertexComponent.html
  src/Explorer/Graph/NewVertexComponent/NewVertexComponent.less
  src/Explorer/Graph/NewVertexComponent/NewVertexComponent.test.tsx
  src/Explorer/Graph/NewVertexComponent/NewVertexComponent.ts
  src/Explorer/Graph/NewVertexComponent/NewVertexComponent.tsx
  src/Explorer/Graph/NewVertexComponent/__snapshots__/NewVertexComponent.test.tsx.snap
  src/Explorer/Graph/NewVertexComponent/newVertexComponent.less
  src/Explorer/Panes/GraphNewVertexPane.html
  src/Explorer/Panes/GraphNewVertexPane.less
  src/Explorer/Panes/NewVertexPane.ts
  src/Explorer/Panes/NewVertexPanel/NewVertexPanel.less
  src/Explorer/Panes/NewVertexPanel/NewVertexPanel.test.tsx
  src/Explorer/Panes/NewVertexPanel/NewVertexPanel.tsx
  src/Explorer/Panes/NewVertexPanel/__snapshots__/NewVertexPanel.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tabs/GraphTab.tsx
  src/Main.tsx
Labels: Panel

#718 update webpack v4.46.0
  package-lock.json
  package.json
Labels: dependencies

#690 Migration/edit table entity panel to react
  src/Common/EntityValue.tsx
  src/Common/TableEntity.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/Tables/EditTableEntityPanel.test.tsx
  src/Explorer/Panes/Tables/EditTableEntityPanel.tsx
  src/Explorer/Panes/Tables/Validators/EntityTableHelper.tsx
  src/Explorer/Panes/Tables/__snapshots__/EditTableEntityPanel.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tables/DataTable/TableCommands.ts
  src/Explorer/Tabs/QueryTablesTab.ts
  src/Main.tsx
Labels: Panel, lint

#678 String input pane
  .eslintignore
  src/Explorer/ComponentRegisterer.test.ts
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/StringInputPane.html
  src/Explorer/Panes/StringInputPane.ts
  src/Explorer/Panes/StringInputPane/StringInputPane.test.tsx
  src/Explorer/Panes/StringInputPane/StringInputPane.tsx
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/Tree/ResourceTreeAdapter.tsx
  src/Main.tsx
Labels: Panel

#641 Migrate publish notebook
  src/Explorer/Controls/NotebookGallery/Cards/GalleryCardComponent.tsx
  src/Explorer/Controls/NotebookGallery/CodeOfConductComponent.tsx
  src/Explorer/Controls/NotebookGallery/CodeOfConductComponent/__snapshots__/index.test.tsx.snap
  src/Explorer/Controls/NotebookGallery/CodeOfConductComponent/index.test.tsx
  src/Explorer/Controls/NotebookGallery/CodeOfConductComponent/index.tsx
  src/Explorer/Controls/NotebookGallery/GalleryViewerComponent.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPane.test.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPane.tsx
  src/Explorer/Panes/PublishNotebookPane/PublishNotebookPaneComponent.tsx
  src/Explorer/Panes/PublishNotebookPane/__snapshots__/PublishNotebookPane.test.tsx.snap
  src/Explorer/Panes/PublishNotebookPane/styled.less
  src/Explorer/Panes/PublishNotebookPaneAdapter.tsx
  src/Explorer/Panes/PublishNotebookPaneComponent.tsx
  src/Main.tsx
  src/Utils/UserUtils.ts
Labels: Panel

#557 Remove Explorer.isPreferredAPIMongo
  src/Common/QueriesClient.ts
  src/Explorer/ContextMenuButtonFactory.ts
  src/Explorer/Controls/Settings/SettingsComponent.tsx
  src/Explorer/Controls/Settings/SettingsSubComponents/SubSettingsComponent.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/DataSamples/ContainerSampleGenerator.test.ts
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentAdapter.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.test.ts
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Panes/AddCollectionPane.html
  src/Explorer/Panes/AddCollectionPane.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/SettingsPane.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/__snapshots__/UploadItemsPane.test.tsx.snap
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Explorer/Tabs/DocumentsTab.test.ts
  src/Explorer/Tabs/DocumentsTab.ts
  src/Explorer/Tree/Collection.test.ts
  src/Explorer/Tree/Collection.ts
  src/RouteHandlers/TabRouteHandler.ts
  src/UserContext.ts
Labels: deprecated
