Repository Azure/cosmos-explorer, pull requests merged in 2021-03, with the labels that each got.

#494 Resolve Lint errors in definitions.ts
  .eslintignore
Labels: lint

#492 Resolve Lint errors in quickstart.ts
  .eslintignore
Labels: lint

#488 Resolve Lint errors in AutoPilotUtils.ts
  .eslintignore
Labels: lint

#484 Fix Lint errors in JunoUtil
  .eslintignore
  src/Explorer/Panes/GitHubReposPane.ts
  src/Utils/JunoUtils.test.ts
  src/Utils/JunoUtils.ts
Labels: lint

#477 Fix Lint errors in ThemeUtility
  .eslintignore
  src/Common/ThemeUtility.ts
  src/Explorer/Tabs/TabsBase.ts
Labels: lint

#489 Resolve Lint errors in MessageValidation.ts
  .eslintignore
Labels: lint

#528 Resolve Lint errors in NavBar component
  .eslintignore
  src/Explorer/Menus/NavBar/ControlBarComponent.tsx
Labels: lint

#490 Resolve Lint errors in NotebookConfigurationUtils.ts
  .eslintignore
  src/Explorer/Tabs/NotebookV2Tab.ts
  src/Utils/NotebookConfigurationUtils.ts
Labels: lint

#463 MostRecentActivity changes
  src/Explorer/MostRecentActivity/MostRecentActivity.test.ts
  src/Explorer/MostRecentActivity/MostRecentActivity.ts
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Explorer/Tree/ResourceTreeAdapter.tsx
  src/Explorer/Tree/ResourceTreeAdapterForResourceToken.tsx
Labels: automerge

#551 Test coverage: include all source files
  jest.config.js
Labels: automerge

#545 Change default Sort order for Gallery to MostRecent & fix gallery card height for empty tags
  src/Explorer/Controls/NotebookGallery/Cards/GalleryCardComponent.tsx
  src/Explorer/Controls/NotebookGallery/Cards/__snapshots__/GalleryCardComponent.test.tsx.snap
  src/Explorer/Tabs/GalleryTab.tsx
  src/GalleryViewer/GalleryViewer.tsx
Labels: automerge

#534 Programmatic tab rendering
  jest.config.js
  less/documentDB.less
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Tabs/ConflictsTab.ts
  src/Explorer/Tabs/DatabaseSettingsTab.ts
  src/Explorer/Tabs/DocumentsTab.ts
  src/Explorer/Tabs/GalleryTab.tsx
  src/Explorer/Tabs/GraphTab.ts
  src/Explorer/Tabs/MongoDocumentsTab.ts
  src/Explorer/Tabs/MongoQueryTab.ts
  src/Explorer/Tabs/MongoShellTab.ts
  src/Explorer/Tabs/NotebookV2Tab.ts
  src/Explorer/Tabs/NotebookViewerTab.tsx
  src/Explorer/Tabs/QueryTab.ts
  src/Explorer/Tabs/QueryTablesTab.ts
  src/Explorer/Tabs/SettingsTabV2.tsx
  src/Explorer/Tabs/StoredProcedureTab.ts
  src/Explorer/Tabs/TabComponents.ts
  src/Explorer/Tabs/TabsBase.ts
  src/Explorer/Tabs/TabsManager.html
  src/Explorer/Tabs/TabsManager.ts
  src/Explorer/Tabs/TerminalTab.tsx
  src/Explorer/Tabs/TriggerTab.ts
  src/Explorer/Tabs/UserDefinedFunctionTab.ts
  src/Main.tsx
  tsconfig.strict.json
Labels: automerge

#563 Remove Explorer.features
  src/Common/Constants.ts
  src/Contracts/ViewModels.ts
  src/Explorer/Controls/Settings/SettingsComponent.tsx
  src/Explorer/Controls/Settings/SettingsSubComponents/ThroughputInputComponents/ThroughputInputAutoPilotV3Component.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/AddCollectionPane.ts
  src/Explorer/Panes/AddCollectionPanel.tsx
  src/Explorer/Tabs/DocumentsTab.ts
  src/Explorer/Tree/Database.ts
  src/Explorer/Tree/StoredProcedure.ts
  src/Platform/Hosted/extractFeatures.test.ts
  src/Platform/Hosted/extractFeatures.ts
  src/UserContext.ts
  src/hooks/useKnockoutExplorer.ts
Labels: automerge

#586 When switching between tabs, editors remain open
  src/Explorer/Tabs/TabsManager.html
Labels: automerge

#583 Fix lint for Database Account Utils
  .eslintignore
Labels: lint

#487 Fix lint query utils
  .eslintignore
  src/Common/QueriesClient.ts
  src/Explorer/Tabs/DocumentsTab.ts
  src/Explorer/Tabs/QueryTab.ts
  src/Utils/QueryUtils.test.ts
  src/Utils/QueryUtils.ts
Labels: lint

#594 Defensively set feature flags from window.parent
  src/Platform/Hosted/extractFeatures.ts
Labels: automerge, bug fix

#576 Migration/execute sproc params pane in react
  .eslintignore
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/ExecuteSprocParamsPane.html
  src/Explorer/Panes/ExecuteSprocParamsPane.ts
  src/Explorer/Panes/ExecuteSprocParamsPanel/InputParameter.tsx
  src/Explorer/Panes/ExecuteSprocParamsPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/ExecuteSprocParamsPanel/index.test.tsx
  src/Explorer/Panes/ExecuteSprocParamsPanel/index.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/PanelComponent.less
  src/Explorer/Tabs/StoredProcedureTab.ts
  src/Main.tsx
Labels: Panel

#543 Move setting pane to react
  .eslintignore
  package-lock.json
  package.json
  src/Common/Tooltip/index.tsx
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Directory/__snapshots__/DirectoryListComponent.test.tsx.snap
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/OpenActions.ts
  src/Explorer/Panes/ExecuteSprocParamsPanel/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane.html
  src/Explorer/Panes/SettingsPane.test.ts
  src/Explorer/Panes/SettingsPane.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/SettingsPane/index.test.tsx
  src/Explorer/Panes/SettingsPane/index.tsx
  src/Explorer/Panes/__snapshots__/DeleteCollectionConfirmationPane.test.tsx.snap
  src/Main.tsx
  src/userContext.test.ts
Labels: Panel

#558 Move upload items panel to react
  .eslintignore
  src/Common/Upload/index.tsx
  src/Explorer/ComponentRegisterer.ts
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/PaneComponents.ts
  src/Explorer/Panes/SettingsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane.html
  src/Explorer/Panes/UploadItemsPane.ts
  src/Explorer/Panes/UploadItemsPane/__snapshots__/index.test.tsx.snap
  src/Explorer/Panes/UploadItemsPane/index.test.tsx
  src/Explorer/Panes/UploadItemsPane/index.tsx
  src/Explorer/Panes/UploadItemsPaneAdapter.tsx
  src/Explorer/Panes/UploadItemsPaneComponent.tsx
  src/Explorer/Tabs/DocumentsTab.ts
  src/Main.tsx
Labels: Panel

#542 Migration/delete database confirmation in react
  src/Explorer/ContextMenuButtonFactory.ts
  src/Explorer/Controls/SmartUi/SmartUiComponent.tsx
  src/Explorer/Controls/SmartUi/__snapshots__/SmartUiComponent.test.tsx.snap
  src/Explorer/Explorer.test.tsx
  src/Explorer/Explorer.tsx
  src/Explorer/Panes/DeleteDatabaseConfirmationPanel.test.tsx
  src/Explorer/Panes/DeleteDatabaseConfirmationPanel.tsx
  src/Explorer/Panes/GenericRightPaneComponent.tsx
  src/Explorer/Panes/__snapshots__/DeleteDatabaseConfirmationPanel.test.tsx.snap
  test/cassandra/container.spec.ts
  test/mongo/container.spec.ts
  test/sql/container.spec.ts
Labels: Panel, lint
