Repository Azure/cosmos-explorer, pull requests merged in 2021-07, with the labels that each got.

#923 resolve_eslint_QueriesGridComponent
  .eslintignore
  src/Explorer/Controls/QueriesGridReactComponent/QueriesGridComponent.tsx
  src/Explorer/Controls/Tabs/TabComponent.tsx
  src/Explorer/Graph/GraphExplorerComponent/EditorNeighborsComponent.tsx
Labels: lint

#914 resolve_eslint_Tables.Constants
  .eslintignore
  src/Explorer/Tables/Constants.ts
  src/GalleryViewer/GalleryViewer.tsx
Labels: lint

#922 resolve_eslint_AccordionComponent
  .eslintignore
  src/Explorer/Controls/Accordion/AccordionComponent.tsx
  src/Explorer/Controls/CommandButton/CommandButtonComponent.tsx
  src/Explorer/Controls/Editor/EditorReact.tsx
  src/Explorer/Graph/GraphExplorerComponent/QueryContainerComponent.tsx
  src/Explorer/Graph/GraphExplorerComponent/ReadOnlyNeighborsComponent.tsx
  src/Explorer/Graph/GraphExplorerComponent/ReadOnlyNodePropertiesComponent.tsx
  src/Explorer/Notebook/NotebookComponent/VirtualCommandBarComponent.tsx
  src/Explorer/Notebook/NotebookComponent/contents/file/index.tsx
  src/Explorer/Notebook/NotebookComponent/contents/file/text-file.tsx
  src/Explorer/Notebook/NotebookRenderer/PromptContent.tsx
  src/Explorer/Notebook/NotebookRenderer/StatusBar.test.tsx
  src/Explorer/Notebook/NotebookRenderer/StatusBar.tsx
  src/Explorer/Notebook/NotebookRenderer/Toolbar.tsx
  src/Explorer/Notebook/NotebookRenderer/decorators/HoverableCell.tsx
Labels: lint

#920 resolve_eslint_EditorNodePropertiesComponent
  .eslintignore
  src/Explorer/Graph/GraphExplorerComponent/EditorNodePropertiesComponent.test.tsx
  src/Explorer/Graph/GraphExplorerComponent/EditorNodePropertiesComponent.tsx
  src/Explorer/Graph/GraphExplorerComponent/__snapshots__/EditorNodePropertiesComponent.test.tsx.snap
Labels: lint

#889 remove_ExplorerBrowseQueriesPane
  .eslintignore
  src/Explorer/Explorer.tsx
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.test.ts
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Panes/GitHubReposPanel/GitHubReposPanel.tsx
  src/Explorer/SplashScreen/SplashScreen.tsx
  src/Explorer/Tabs/QueryTab/QueryTabComponent.tsx
  src/Explorer/Tree/ResourceTreeAdapter.tsx
Labels: Panel

#929 Use window messaging to pass sensitive data to terminal iframe
  src/Explorer/Controls/Notebook/NotebookTerminalComponent.test.tsx
  src/Explorer/Controls/Notebook/NotebookTerminalComponent.tsx
  src/Explorer/Controls/Notebook/__snapshots__/NotebookTerminalComponent.test.tsx.snap
  src/Terminal/TerminalProps.ts
  src/Terminal/index.ts
Labels: automerge

#932 Resolve eslint session storage utility
  .eslintignore
  src/Common/HeadersUtility.test.ts
  src/Explorer/Explorer.tsx
  src/Explorer/Tree/Collection.test.ts
  src/Shared/ExplorerSettings.ts
  src/Shared/LocalStorageUtility.ts
  src/Shared/PriceEstimateCalculator.ts
  src/Shared/SessionStorageUtility.ts
  src/Shared/StorageUtility.ts
  src/TokenProviders/PortalTokenProvider.ts
  src/TokenProviders/TokenProviderFactory.ts
  src/Utils/PricingUtils.test.ts
  src/Utils/QueryUtils.test.ts
Labels: lint

#938 Cleanup Schema Analyzer feature flag
  configs/mpac.json
  src/Common/Constants.ts
  src/ConfigContext.ts
  src/Explorer/Explorer.tsx
  src/Platform/Hosted/extractFeatures.ts
  src/hooks/useKnockoutExplorer.ts
Labels: automerge

#802 fixed typescript strict useSidePanel.ts PanelContainerComponent.tsx etc
  src/Explorer/Panes/PanelContainerComponent.tsx
  tsconfig.strict.json
Labels: typescript/strict

#787 fixed typescript strict of CqlUtilities.test.ts CapabilityUtils.ts file
  src/Explorer/Tables/CqlUtilities.ts
  src/Utils/CapabilityUtils.ts
  tsconfig.strict.json
Labels: typescript/strict

#934 resolve eslint error
  .eslintignore
  src/Explorer/ContextMenuButtonFactory.tsx
  src/Explorer/Tree/Collection.ts
  src/Explorer/Tree/UserDefinedFunction.ts
  src/GitHub/GitHubContentProvider.test.ts
  src/GitHub/GitHubContentProvider.ts
  src/Platform/Hosted/Helpers/ConnectionStringParser.test.ts
Labels: lint

#785 fixed typescript strict issue of Statusbar, hostedUtils, StringUtils etc
  src/Explorer/Notebook/NotebookRenderer/StatusBar.tsx
  src/Platform/Hosted/HostedUtils.ts
  src/Shared/DefaultExperienceUtility.test.ts
  src/Utils/StringUtils.test.ts
  src/Utils/StringUtils.ts
  src/hooks/useNotebookSnapshotStore.ts
  src/hooks/usePortalAccessToken.tsx
  tsconfig.strict.json
Labels: typescript/strict

#875 Fix GitHub repos panel issue
  src/Explorer/Controls/GitHub/GitHubReposComponent.tsx
  src/Explorer/Controls/Settings/__snapshots__/SettingsComponent.test.tsx.snap
  src/Explorer/Menus/CommandBar/CommandBarComponentButtonFactory.tsx
  src/Explorer/Notebook/NotebookManager.tsx
  src/Explorer/Panes/GitHubReposPanel/GitHubReposPanel.tsx
  src/Explorer/Panes/GitHubReposPanel/__snapshots__/GitHubReposPanel.test.tsx.snap
  src/Explorer/Panes/StringInputPane/__snapshots__/StringInputPane.test.tsx.snap
  src/Explorer/Tree/ResourceTreeAdapter.tsx
Labels: bug fix, github

#953 Fixed resourse tree collapse issue
  less/resourceTree.less
  less/tree.less
Labels: bug fix
